<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<<<<<<< HEAD
  <h1><%= t "static_pages.contact" %></h1>
  <p>
    <%= t "contact.paragraph_1" %>
    <a href="https://www.railstutorial.org/contact"><%= t "contact.page" %></a>.
=======
  <h1>Contact</h1>
  <p>
    Contact the Ruby on Rails Tutorial about the sample app at the
    <a href="https://www.railstutorial.org/contact">contact page</a>.
>>>>>>> b97c218... Fix Chapter 3-4-5
  </p>
</body>
</html>
