<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1><%= t "static_pages.contact" %></h1>
  <p>
    <%= t "contact.paragraph_1" %>
    <a href="https://www.railstutorial.org/contact"><%= t "contact.page" %></a>.
  </p>
</body>
</html>
